---
import Heading from "~/components/common/heading.astro";
import Link from "~/components/common/link.astro";
import Picture from "~/components/common/picture.astro";
import Icon from "~/components/common/icon.astro";

import portrait from "~/assets/images/portrait.jpg";
---

<section id="about" class="mx-auto flex max-w-content flex-col gap-xl px-lg lg:px-2xl mb-section">
	<div class="grid-cols-3 xl:grid">
		<div class="col-span-2 flex flex-col self-center items-start gap-[1.5rem] xl:mr-xl [&_p]:max-w-[80ch]">
			<Heading as="h2" href="#about">About</Heading>
			<p>I'm Pavel, a software engineering student at <Link kind="text" href="https://fel.cvut.cz/en">Czech Technical University in Prague</Link>.</p>
			<p>I've been coding and programming on the web since 2017.<br />I'm meticulous about accessibility, performance and maintainability.</p>
			<aside class="shadow-[0.5rem_0.5rem_0_black] text-secondary p-xl border-secondary/25 text-center border-dashed border-[3px]">
				<p>Curious about my <abbr title="Operation system">OS</abbr> or the devices I use? Check out my <Link kind="text" href="/faq"><abbr title="Frequently asked questions">FAQ</abbr></Link> for all the details!</p>
			</aside>
			<p>Nowadays, my main focus is front-end development.</p>
			<p>However, I've tried many areas of modern digital content creation, from simple 3D scenes and modelling, raster and vector graphics, video editing and more.</p>
			<ul class="flex w-full flex-col-reverse gap-lg md:flex-row">
				<li>
					<Link type="btn" kind="secondary" href="https://linkedin.com/in/susickypavel">
						LinkedIn profile
					</Link>
				</li>
				<li>
					<Link type="btn" href="/documents/pavel-sušický-résumé.pdf">
						Résumé
						<Icon icon="arrow-right" />
					</Link>
				</li>
			</ul>
		</div>
		<Picture class="hidden xl:block" alt="Pavel Sušický in the midle of field during sunny summer day." image={portrait} />
	</div>
</section>
