---
import Heading from "~/components/common/heading.astro";
import Link from "~/components/common/link.astro";

---

<section id="about" class="mx-auto flex max-w-content flex-col gap-xl px-lg lg:px-2xl">
	<Heading as="h2" href="#about">About</Heading>
	<p>I'm Pavel, a software engineering student  at <Link kind="text" href="https://cvut.cz/en">Czech Technical University</Link>. I've been coding and programming on the web since 2017. I'm meticulous about accessibility, performance and maintainability. Nowadays, my main focus is front-end development. However, I've tried many areas of modern digital content creation, from simple 3D scenes and modelling, raster and vector graphics, video editing and more.</p>
</section>
