---
import Heading from "../../components/common/heading.astro";
---

<section id="contact" class="mx-auto my-3xl max-w-content px-lg lg:px-2xl">
	<Heading class="mb-2xl lg:justify-center" href="#contact">Contact</Heading>
	<slot />
</section>
