<header class="min-h-view flex items-center justify-center p-sm">
	<h1 class="sr-only">Hello, I'm Pavel.</h1>
	<picture class="max-w-[48rem] overflow-hidden rounded">
		<source srcset="/images/portrait/1024.avif" type="image/avif">
		<source srcset="/images/portrait/1024.webp" type="image/webp">
		<img src="/images/portrait/1024.jpg" alt="Pavel Sušický with sun glasses, sunny day in the fields.">
	</picture>
</header>
