---
import Icon from "~/components/common/icon.astro";
import Link from "~/components/common/link.astro";

import { config } from "~/root/src/config";

const { status } = config;
---

<header class="relative mb-2xl bg-hero">
	<div class="mx-auto min-h-view max-w-content flex-col gap-lg px-lg py-[6rem] center lg:gap-xl lg:px-2xl">
		<h1 class="sr-only">Pavel Sušický, Front-end developer</h1>
		<Icon class="w-full" viewBox="0 0 120 10" title="Hello 👋, I'm Pavel.">
			<path d="M3.062 6.242v2.872H0v-8.9h8.236v2.551H3.062v.926h4.936v2.551H3.062Zm9.387-.095v2.967H9.387v-8.9h5.577c.712 0 1.335.124 1.869.373.534.25.95.596 1.247 1.039.296.443.445.965.445 1.566 0 .586-.149 1.102-.445 1.549-.297.447-.713.793-1.247 1.038-.08.037-.162.071-.246.102l2.294 3.233H15.38l-2.02-2.967h-.911Zm0-2.124h2.041c.3 0 .534-.071.7-.214.166-.142.249-.348.249-.617s-.083-.474-.249-.617c-.166-.142-.4-.213-.7-.213h-2.041v1.661Zm12.306 5.305c-1.084 0-2.032-.194-2.842-.582-.811-.388-1.442-.932-1.893-1.632-.451-.7-.677-1.517-.677-2.45 0-.934.226-1.751.677-2.451.451-.7 1.082-1.244 1.893-1.632C22.723.194 23.671 0 24.755 0s2.031.194 2.842.581c.811.388 1.442.932 1.893 1.632.451.7.676 1.517.676 2.451 0 .933-.225 1.75-.676 2.45-.451.7-1.082 1.244-1.893 1.632-.811.388-1.758.582-2.842.582Zm0-2.73c.482 0 .898-.077 1.246-.231.348-.155.615-.376.801-.665.186-.289.279-.635.279-1.038 0-.404-.093-.75-.279-1.039-.186-.288-.453-.51-.801-.664-.348-.154-.764-.232-1.246-.232-.483 0-.898.078-1.246.232-.348.154-.615.376-.801.664-.186.289-.279.635-.279 1.039 0 .403.093.749.279 1.038.186.289.453.51.801.665.348.154.763.231 1.246.231Zm9.47-3.053v5.569h-2.967v-8.9h3.952l3.465 5.379V.214h2.967v8.9h-3.833l-3.584-5.569Zm11.582-.602h-3.204V.214h9.47v2.729h-3.204v6.171h-3.062V2.943Zm10.227 3.75h5.378v2.421h-8.615l.652-4.45-.652-4.45h8.556v2.42h-5.319l.161.974h4.778V5.72h-4.778l-.161.973Zm9.603-3.148v5.569H62.67v-8.9h3.952l3.465 5.379V.214h2.967v8.9h-3.833l-3.584-5.569ZM79.201.214c1.084 0 2.031.184 2.842.551.811.368 1.442.885 1.893 1.549.451.665.676 1.448.676 2.35 0 .894-.225 1.675-.676 2.344-.451.668-1.082 1.186-1.893 1.554-.811.368-1.758.552-2.842.552h-4.723v-8.9h4.723Zm-1.685 2.729v3.441h1.922c.435 0 .809-.069 1.122-.207.312-.139.552-.336.718-.594.166-.257.249-.563.249-.919 0-.364-.083-.673-.249-.926-.166-.253-.406-.449-.718-.587-.313-.139-.687-.208-1.122-.208h-1.922ZM85.704.214h3.062v8.9h-3.062v-8.9Zm4.189 5.969h3.109c.032.174.123.322.273.445.151.122.356.217.617.285.261.067.574.1.938.1.475 0 .844-.047 1.109-.142.266-.095.398-.249.398-.463 0-.142-.075-.263-.225-.362-.151-.099-.459-.164-.926-.196l-1.472-.094c-1.337-.087-2.302-.372-2.895-.855-.594-.482-.89-1.119-.89-1.91 0-.665.19-1.219.569-1.662.38-.443.912-.775 1.597-.997C92.779.111 93.58 0 94.498 0c.894 0 1.687.125 2.379.374s1.242.599 1.65 1.05c.407.451.63.977.67 1.578h-3.109c-.024-.142-.101-.265-.232-.368-.13-.102-.314-.181-.551-.237-.238-.055-.527-.083-.867-.083-.435 0-.777.044-1.026.131-.249.087-.374.229-.374.427 0 .134.073.249.22.344.146.095.429.158.848.19l1.661.107c.871.055 1.575.184 2.113.385.538.202.931.481 1.181.837.249.356.373.795.373 1.317 0 .657-.193 1.23-.581 1.721-.388.49-.932.872-1.632 1.145-.7.273-1.517.41-2.45.41-.966 0-1.812-.131-2.54-.392s-1.295-.629-1.703-1.104c-.407-.474-.619-1.024-.635-1.649Zm13.078-3.24h-3.204V.214h9.47v2.729h-3.205v6.171h-3.061V2.943Zm9.011 4.676-.609 1.495h-3.264l3.904-8.9h4.083l3.904 8.9h-3.263l-.609-1.495h-4.146Zm3.155-2.433-1.082-2.658-1.083 2.658h2.165Z"/>
		</Icon>
		<p class="text-center">
			<span class="relative mr-lg inline-flex size-[0.75em]">
				<span class:list={[
					"absolute inline-flex h-full w-full rounded-full opacity-75",
					{
						"bg-ok-500/75 motion:animate-ping": typeof status === "string",
						"bg-error-600/75 motion:animate-ping": typeof status === "boolean"
					}
				]} />
				<span class:list={[
					"relative inline-flex h-[0.75em] w-[0.75em] rounded-full",
					{
						"bg-ok-500/100": typeof status === "string",
						"bg-error-600/100": typeof status === "boolean"
					}
				]} />
			</span>
			{config.status ? (
				<Fragment>
					{config.status}. <Link kind="secondary" class="whitespace-nowrap" href="/collaboration"><span class="brackets">see details</span></Link>
				</Fragment>
			) : "Currently unavailable."}
		</p>

		<Link class="absolute bottom-xl" href="#about" icon="down-arrow">READ</Link>
	</div>
</header>
