---
import Icon from "~/components/common/icon.astro";
---

<header class="relative">
	<div class="mx-auto md:min-h-[50vh] max-w-content flex-col gap-lg px-lg center lg:gap-xl lg:px-2xl py-xl mb-xl">
		<h1 class="sr-only">Pavel Sušický, Front-end developer</h1>
		<Icon class="w-full" viewBox="0 0 120 10" title="Hello 👋, I'm Pavel." icon="logo" />
	</div>
</header>
