---
import AnimatedImage from "~/components/animated/animated-image.astro";
---

<header class="flex min-h-view items-center justify-center p-sm">
	<h1 class="sr-only">Hello, I'm Pavel.</h1>
	<picture class="max-w-[48rem] overflow-hidden rounded bg-secondary">
		<source srcset="/images/portrait/1024.avif" type="image/avif">
		<source srcset="/images/portrait/1024.webp" type="image/webp">
		<AnimatedImage src="/images/portrait/1024.jpg" width="1024" height="1365" class="img-indicator" alt="Pavel Sušický with sun glasses, sunny day in the fields." />
	</picture>
</header>
