---
import { getCollection } from "astro:content";

import Heading from "~/components/common/heading.astro";
import Link from "~/components/common/link.astro";

const projects = await getCollection("oss");
---

<section id="oss" class="mt-xl">
	<Heading as="h3" href="#oss">Open-source software</Heading>
	<ul class="mt-xl flex grid-cols-3 flex-col gap-lg lg:grid">
		{projects.map(project => {
			return (
				<li>
					<article class="flex h-full flex-col justify-between gap-lg bg-secondary p-xl">
						<small class="text-center font-semibold text-secondary">{project.data.ecosystem}</small>
						<h4 class="text-center">{project.data.name}</h4>
						{project.data.url ? (
							<ul class="flex justify-center gap-lg">
								{project.data.url.github ? (
									<li>
										<Link href={project.data.url.github} icon="github">See on GitHub</Link>
									</li>
								) : null}
								{project.data.url.npm ? (
									<li>
										<Link href={project.data.url.npm} icon="npm">See on npm registry</Link>
									</li>
								) : null}
							</ul>
						) : null}
					</article>
				</li>
			);
		})}
	</ul>
</section>
