---
import { getCollection } from "astro:content";

import Heading from "~/components/common/heading.astro";

import ProjectCard from "./project-card.astro";
import OSSSection from "./oss-section.astro";

const projects = await getCollection("projects");

projects.sort((a, b) => a.data.year - b.data.year);
---

<section id="projects" class="mx-auto mt-xl max-w-content px-lg lg:px-2xl">
	<Heading as="h2" href="#projects">Projects</Heading>
	<ul class="mt-xl grid grid-cols-1 gap-lg lg:grid-cols-3">
		{projects.map(project => {
			return (
				<li>
					<ProjectCard project={project} slug={project.slug} />
				</li>
			);
		})}
	</ul>
	<OSSSection />
</section>
