{
	"extends": "stylelint-config-standard-scss",
	"rules": {
		"property-no-vendor-prefix": null,
		"scss/at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": [
					"tailwind"
				]
			}
		]
	}
}
