# https://oai.github.io/Documentation/specification-servers.html

openapi: 3.0.0
info:
  title: Frontendista Cloudflare worker API
  version: 0.0.1

paths:
  /discord:
    post:
      summary: Send message to Discord channel
      description: Sends message to a predefined Discord channel through webhooks.
      requestBody:
        required: true
        description: TODO
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/discordMessage"
      responses:
        "200":
          description: Message was successfully delivered.
        "400":
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                nameTooShort:
                  value: "Name is too short."
                nameTooLong:
                  value: "Name is too long."
                messageTooShort:
                  value: "Message is too short."
                messageTooLong:
                  value: "Message is too long."
                invalidEmail:
                  value: "Email is not valid."
          description: Malformed user input.
        "429":
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
          description: User is being rate-limited.

components:
  schemas:
    discordMessage:
      type: object
      required:
        - "name"
        - "message"
      properties:
        email:
          type: string
        name:
          type: string
          minLength: 2
          maxLength: 50
        message:
          type: string
          minLength: 5
          maxLength: 999

servers:
  - url: https://backendista.cz/v1
#    description: API backend for Frontendista
