---
import { getCollection } from "astro:content";

import HMFLayout from "~/layouts/hmf-layout.astro";
import Heading from "~/components/common/heading.astro";

import Link from "./_components/mdx-link.astro";
import Paragraph from "./_components/mdx-paragraph.astro";
import Section from "./_components/mdx-section.astro";
import Ul from "./_components/mdx-ul.astro";

import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import MdxFigure from "./_components/mdx-figure.astro";

export const getStaticPaths = (async () => {
	const projects = await getCollection("projects");

	return projects.map(project => {
		return {
			params: {
				slug: project.slug
			},
			props: project
		};
	});
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { render } = Astro.props;
const { title, year } = Astro.props.data;

const { Content } = await render();
---

<HMFLayout
	classNames={{
		main: "px-lg lg:px-2xl pt-lg lg:pt-2xl max-w-content mx-auto"
	}}
	title={{
		default: `Pavel Sušický — ${title}`
	}}>
	<article class="flex flex-col gap-2xl">
		<header class="flex flex-col gap-md">
			<h1>{title}</h1>
			<time class="font-bold uppercase" datetime={year.toString()}>Made in {year}</time>
		</header>
		<Content components={{
			a: Link,
			p: Paragraph,
			section: Section,
			ul: Ul,
			h1: Heading,
			h2: Heading,
			h3: Heading,
			h4: Heading,
			h5: Heading,
			h6: Heading,
			img: MdxFigure
		}} />
	</article>
</HMFLayout>
