---
import Link from "~/components/common/link.astro";

export interface Props {
	heading: string;
	links: Array<{
		name: string;
		href: string;
	}>
}

const { heading, links } = Astro.props;
---

<details>
	<summary data-btn="primary">{heading}</summary>
	<ul class="mt-lg flex flex-col gap-sm">
		{links.map(({ name, href }) => {
			return (
				<li>
					<Link href={href}>{name}</Link>
				</li>
			);
		})}
	</ul>
</details>
