openapi: 3.1.0
info:
  title: Frontendista.cz
  description: API for frontendista.cz
  version: 1.0.0
  contact:
    name: Pavel Sušický
    email: me@frontendista.cz
    url: https://frontendista.cz

servers:
  - url: https://cloudflare.frontendista.cz
    description: Production
  - url: https://cloudflare-staging.frontendista.workers.dev
    description: Staging
  - url: http://localhost:3003
    description: Development

tags:
  - name: "Contact"
    description: "Operations related to contact form"

components:
  responses:
    MessageSent:
      description: Message sent
      content:
        schema:
          type: string
          format: binary

  schemas:
    Message:
      type: object
      properties:
        firstname:
          type: string
          description: First name of the sender
          example: Pavel
          minLength: 2
          maxLength: 50

        lastname:
          type: string
          description: Last name of the sender
          example: Sušický
          minLength: 2
          maxLength: 50

        email:
          type: string
          format: email
          description: Email of the sender
          example: me@frontendista.cz

        message:
          type: string
          description: Message of the sender
          example: Hello, World!
          minLength: 10
          maxLength: 250

      required:
        - message

paths:
  /message:
    post:
      operationId: send_message
      description: Sends message to personal email
      summary: Send message
      tags:
        - Contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Message"

      responses:
        "201":
          description: "Message sent"
        "400":
          description: "Malformed or invalid request body"
        "429":
          description: "Rate limit exceeded"
        "503":
          description: "Service unavailable"
