openapi: 3.1.0
info:
  title: Frontendista.cz API
  description: Awesome API 😎
  version: 1.0.0
  contact:
    name: Pavel Sušický
    email: me@frontendista.cz
    url: https://frontendista.cz

servers:
  - url: https://frontendista.cz/api
    description: Production
  - url: https://staging.frontendista.cz/api
    description: Staging
  - url: http://localhost:3000/api
    description: Development
  - url: http://localhost:3001/api
    description: Preview

tags:
  - name: "Contact"
    description: "Operations related to contact form"

components:
  responses:
    MessageError:
      description: Error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                description: Error message
    MessageSent:
      description: Message sent
      content:
        application/json:
          schema:
            type: object
            properties:
              total_messages_count:
                type: integer
                description: Total number of messages sent
                example: 54
  schemas:
    Message:
      type: object
      properties:
        name:
          type: string
          description: Name of the sender
          example: Pavel
          minLength: 2
          maxLength: 50
        email:
          type: string
          format: email
          description: Email of the sender
          example: me@frontendista.cz
        message:
          type: string
          description: Message of the sender
          example: Hello, World!
          minLength: 3
          maxLength: 1024
      required:
        - message

paths:
  /message:
    post:
      operationId: sendMessage
      description: Sends message to Discord channel, it uses rate-limiting to prevent spam
      summary: Send Discord message
      tags:
        - Contact
      parameters:
        - in: query
          name: js
          schema:
            type: string
            enum:
              - false
          description: Whether client has scripting enabled.
          allowEmptyValue: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              allOf:
                - $ref: "#/components/schemas/Message"
      responses:
        "201":
          $ref: "#/components/responses/MessageSent"
        "302":
          description: "Successful page if scripting is disabled"
          headers:
            Location:
              schema:
                type: string
                description: Redirect URL
                example: /contact/success
        "303":
          description: "Error page if scripting is disabled"
          headers:
            Location:
              schema:
                type: string
                description: Redirect URL
                example: /contact/error
        "400":
          $ref: "#/components/responses/MessageError"
          description: "Malformed or invalid request body"
        "429":
          description: "Too many requests"
        "503":
          $ref: "#/components/responses/MessageError"
          description: "Discord API is unavailable"
