---
export interface Props {
	/**
	 * @default "h1"
	 */
	as: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
	href?: string;
}

const { as: Element = "h1", href, class: className, ...attrs } = Astro.props;
---

<Element class="inline-flex items-center gap-[0.1em]" class:list={["w-full", className]} {...attrs}>
	<slot />
	{href ? (
		<a class="size-[3rem] center after:content-['#'] text-secondary" href={href}>
			<span class="sr-only">Permalink to "{<slot />}" section</span>
		</a>
	) : null}
</Element>
