---
import type { HTMLAttributes } from "astro/types";
import common from "~/assets/svg/spritesheet/common.svg?url";

export interface Props extends HTMLAttributes<"svg"> {
	icon?: string;
	title?: string;
}

const { icon, title } = Astro.props;
---

<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
	{title ? <title>{title}</title> : null}
	{icon ? <use href={`${common}#${icon}`} /> : <slot />}
</svg>
