---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"svg"> {
	icon?: string;
	title?: string;
}

const { icon, title, viewBox = "0 0 24 24", ...attrs } = Astro.props;
---

<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox={viewBox} aria-hidden="true" {...attrs}>
	{title ? <title>{title}</title> : null}
	{icon ? <use href={`#${icon}`} /> : <slot />}
</svg>
