---
import Icon from "./icon.astro";

import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"a"> & {
	href: string;
	/**
	 * @default "primary"
	 */
	kind?: "primary" | "secondary";
	/**
	 * @default false
	 */
	externalIcon?: boolean;
};

const { href, kind = "primary", externalIcon = false, ...attributes } = Astro.props;

const isExternal = href.startsWith("http"); 
---

<a data-link={kind} href={href} rel={isExternal ? "noopener" : null} target={isExternal ? "_blank" : null} {...attributes}>
	<slot />
	{(isExternal || externalIcon) ? <Icon title=" (New tab) " icon="link-external" /> : null}
</a>
