---
import Icon from "./icon.astro";

import type { HTMLAttributes } from "astro/types";

export type Props = Pick<HTMLAttributes<"a">, "target"> & {
	href: string;
	/**
	 * @default "link"
	 */
	type?: "btn" | "link";
	/**
	 * @default "primary"
	 */
	kind?: "primary" | "secondary" | "text";
	/**
	 * Renders icon instead of text.
	 */
	icon?: string;
	/**
	 * @default true
	 */
	showIcon?: boolean;
};

const { href, kind = "primary", type = "link", icon, showIcon = true, ...attrs } = Astro.props;

const isExternal = attrs.target === "_blank" || href.startsWith("http");

const attributes = Object.assign(attrs, {
	[`data-${icon ? "icon" : type}`]: kind,
});
---

<a href={href} rel={isExternal ? "noopener" : null} target={isExternal ? "_blank" : null} {...attributes}>
	{icon ? (
		<span class="sr-only">
			<slot />
		</span>
		<Icon title=" (New tab) " icon={icon} />
	) : (
		<Fragment>
			<slot />
			{isExternal && showIcon ? <Icon title=" (New tab) " icon="link-external" /> : null}
		</Fragment>
	)}
</a>
