---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"svg"> {
	/**
	 * @default "0 0 24 24"
	 */
	viewBox?: string;
	title?: string;
}

const { viewBox = "0 0 24 24", title, ...props } = Astro.props;
---

<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox={viewBox} {...props}>
	{title && <title>{title}</title>}
	<slot />
</svg>
