---
const CANONICAL_URL = new URL(Astro.url.pathname, Astro.site).toString().replace(/\.html$/, "");
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:url" content={CANONICAL_URL} />
<link rel="canonical" href={CANONICAL_URL} />
<title>Pavel Sušický - Front-end Developer</title>
