@layer components {
	[data-btn] {
		display: inline-flex;
		font-weight: 700;
		font-size: 1.25rem;
		padding: 1.5rem 2rem;
		width: 100%;
		text-transform: uppercase;
		cursor: pointer;
	}

	[data-btn="primary"] {
		background: var(--button-bg-primary-idle);
		color: var(--button-fg-primary-idle);

		&:hover {
			user-select: none;
			background: theme("colors.brand.500");
		}

		&:active {
			background: theme("colors.brand.600");
		}
	}

	[data-link] {
		font-size: 1.25rem;
		font-weight: 500;
		text-decoration: underline;
		text-decoration-thickness: 2px;
		text-decoration-color: rgb(var(--fg-primary) / 25%);

		&:hover, &:focus-visible {
			text-decoration-color: rgb(var(--fg-primary) / 100%);
		}

		&:active {
			text-decoration-color: theme("colors.brand.500");
			color: theme("colors.brand.500");
		}
	}
}
