@layer components {
	[data-icon] {
		display: block;

		& svg {
			width: 3rem;
			padding: 0.75rem;
		}

		@media (pointer: fine) {
			&:hover {
				color: theme("colors.brand.500");
			}

			&:active {
				color: theme("colors.brand.600");
			}
		}
	}

	[data-btn] {
		border: 3px solid transparent;
		line-height: 1;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		font-size: 1.25rem;
		padding: 1.6875rem 2rem;
		width: 100%;
		text-transform: uppercase;
		cursor: pointer;
		gap: theme("gap.md");

		&:disabled {
			cursor: not-allowed;
			opacity: 0.5;
		}

		& svg {
			height: 1em;
			width: 1em;
		}

		@media (pointer: fine) {
			&:hover {
				user-select: none;
			}
		}
	}

	[data-btn="primary"] {
		background: var(--button-bg-primary-idle);
		color: var(--button-fg-primary-idle);

		&::before {
			border-color: var(--button-bg-primary-idle);
		}

		&:not(:disabled) {
			@media (pointer: fine) {
				&:hover {
					background: theme("colors.brand.500");
	
					&::before {
						border-color: theme("colors.brand.500");
					}
				}
	
				&:active {
					background: theme("colors.brand.600");
	
					&::before {
						border-color: theme("colors.brand.600");
					}
				}
			}
		}
	}

	[data-btn="secondary"] {
		border-color: theme("borderColor.primary");

		&:focus-visible {
			background: theme("textColor.primary");
			color: theme("backgroundColor.primary");
			
			&::before {
				border-color: theme("textColor.primary");
			}
		}

		@media (pointer: fine) {
			&:hover {
				background: theme("textColor.primary");
				color: theme("backgroundColor.primary");
			}

			&:active {
				background: theme("colors.brand.600");
				border-color: theme("colors.brand.600");

				&::before {
					border-color: theme("colors.brand.600");
				}
			}
		}
	}

	[data-link] {
		text-wrap: balance;
		font-size: 1.25rem;
		font-weight: 500;
		text-decoration: underline;
		text-decoration-thickness: 2px;

		& svg {
			display: inline;
			vertical-align: -0.1875rem;
			margin-left: theme("margin.sm");
			width: 1em;
			height: 1em;
		}
	}

	[data-link="text"] {
		font-weight: 700;

		&:focus-visible {
			white-space: nowrap;
		}
		
		@apply text-brand-800/100 night:text-brand-500/100;
		@apply decoration-brand-800/25 night:decoration-brand-500/25;	
		@apply hover:decoration-current hover:night:decoration-current;
		@apply active:text-brand-600/100 active:night:text-brand-600/100;
	}

	[data-link="primary"] {
		text-decoration-color: rgb(var(--fg-primary) / 25%);

		&:hover, &:focus-visible {
			text-decoration-color: rgb(var(--fg-primary) / 100%);
		}

		&:active {
			text-decoration-color: theme("colors.brand.600");
			color: theme("colors.brand.600");
		}
	}

	[data-link="secondary"] {
		color: rgb(var(--fg-secondary) / 100%);
		text-decoration-color: rgb(var(--fg-secondary) / 25%);

		@media (pointer: fine) {
			&:hover, &:focus-visible {
				text-decoration-color: rgb(var(--fg-secondary) / 100%);
			}

			&:active {
				text-decoration-color: theme("colors.brand.600");
				color: theme("colors.brand.600");

				&::before {
					border-color: theme("colors.brand.600");
				}
			}
		}
	}

	[data-input] {
		border: 1px solid #fff;
		width: 100%;
		padding: 2rem;

		&[data-invalid="true"] {
			border-color: theme("colors.error.600");
		}
	}
}
