@import "./preflight";
@import "./themes";
@import "./animations";
@import "./components";

// NOTE: TailwindCSS entrypoint.
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
	@font-face {
		src: url("/fonts/space-grotesk/variable.woff2");
		font-family: Body;
		font-weight: 300 700;
	}

	@font-face {
		src: url("/fonts/unbounded/variable.woff2");
		font-family: Heading;
		font-weight: 200 900;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			@include dark-mode;
		}
	}

	@media (prefers-color-scheme: light) {
		:root {
			@include light-mode;
		}
	}

	:root[data-theme="dark"] {
		@include dark-mode;
	}

	:root[data-theme="light"] {
		@include light-mode;
	}

	:root {
		--view-height: 100vh;

		@supports (height: 1svh) {
			--view-height: 100svh;
		}
	}

	body {
		font-family: Body, sans-serif;
		background: theme("backgroundColor.primary");
		color: theme("textColor.primary");
	}

	p {
		font-weight: 500;
		font-size: 1.25rem;
	}
}
