@import "./preflight";
@import "./themes";
@import "./animations";
@import "./components";

// NOTE: TailwindCSS entrypoint.
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
	@font-face {
		src: url("/fonts/space-grotesk/variable.woff2");
		font-family: Body;
		font-weight: 300 700;
	}

	@font-face {
		src: url("/fonts/unbounded/variable.woff2");
		font-family: Heading;
		font-weight: 200 900;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			@include dark-mode;
		}
	}

	@media (prefers-color-scheme: light) {
		:root {
			@include light-mode;
		}
	}

	:root[data-theme="dark"] {
		@include dark-mode;
	}

	:root[data-theme="light"] {
		@include light-mode;
	}

	:root[data-motion="on"] {
		scroll-behavior: smooth;
	}	

	:root[data-js="off"] {
		@media (prefers-reduced-motion: no-preference) {
			scroll-behavior: smooth;
		}
	}

	:root {
		--view-height: 100vh;

		@media (min-width: theme("screens.uw")) {
			font-size: 1.25rem;
		}

		@supports (height: 1svh) {
			--view-height: 100svh;
		}
	}

	*:focus-visible {
		outline: none;
		z-index: theme("zIndex.50");
		
		&::before {
			content: "";
			inset: -0.5rem;
			position: absolute;
			border: 4px solid currentcolor;
			width: calc(100% + 1rem);
			height: calc(100% + 1rem);
		}

		box-shadow: 0 0 0 max(100vw, 100vh) theme("backgroundColor.primary / 90%");

		@supports selector(:has(+ * )) {
			box-shadow: none;
		}
	}

	body {
		font: theme("fontSize.base") Body, sans-serif;
		background: theme("backgroundColor.primary");
		color: theme("textColor.primary");

		&::after {
			content: "";
			position: fixed;
			inset: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			z-index: -1;
			backdrop-filter: blur(theme("backdropBlur.sm")) saturate(0);
			transition: background-color 0.5s cubic-bezier(0, 0.55, 0.45, 1);
		}

		&:has(:focus-visible) {
			&::after {
				pointer-events: auto;
				z-index: 1;
				background: theme("backgroundColor.primary / 90%");
			}
		}
	}

	p {
		font-weight: 500;
		font-size: 1.25rem;
		line-height: 1.5;
	}

	a, button, summary {
		position: relative;
	}

	h1 {
		font-size: 1.602rem;

		@media (min-width: theme("screens.lg")) {
			font-size: theme("fontSize.h1");
		}
	}

	h2 {
		font-size: 1.424rem;

		@media (min-width: theme("screens.lg")) {
			font-size: theme("fontSize.h2");
		}
	}
}
