@mixin dark-mode {
	color-scheme: dark;

	// BG
	--bg-primary: #000;
	--bg-secondary: #111;

	// FG
	--fg-primary: #fff;
}

@mixin light-mode {
	color-scheme: light;

	// BG
	--bg-primary: #fff;
	--bg-secondary: #eee;

	// FG
	--fg-primary: #000;
}
