@mixin dark-mode {
	color-scheme: dark;

	// BG
	--bg-primary: 17 17 17;
	--bg-secondary: 17 17 17;

	// FG
	--fg-primary: 255 255 255;
	--fg-secondary: 168 162 158;

	// Button
	--button-bg-primary-idle: rgb(255 255 255);
	--button-fg-primary-idle: rgb(0 0 0);
}

@mixin light-mode {
	color-scheme: light;

	// BG
	--bg-primary: 255 255 255;
	--bg-secondary: 238 238 238;

	// FG
	--fg-primary: 0 0 0;
	--fg-secondary: 87 83 78;

	// Button
	--button-bg-primary-idle: rgb(0 0 0);
	--button-fg-primary-idle: rgb(255 255 255);
}
