---
import BaseLayout from "~/layouts/base-layout.astro";

import Link from "~/components/common/link.astro";
---

<BaseLayout 
	favicon="404"
	title={{
		default: "404 — Page not found"
	}}>
	<header class="min-h-view flex-col gap-lg center">
		<h1 class="text-h1">404</h1>
		<p class="text-center">
			Page couldn't be find. <Link kind="text" href="/" class="whitespace-nowrap">Return to homepage</Link>
		</p>
	</header>
</BaseLayout>
