---
import BaseLayout from "~/layouts/base-layout.astro";

import Link from "~/components/common/link.astro";
---

<BaseLayout
	favicon="404"
	title={{
		default: "404 — Page not found"
	}}
	classNames={{
		main: "min-h-view center"
	}}
>
	<header class="flex flex-col items-center gap-lg -mt-[5rem]">
		<h1 class="text-h1">404</h1>
		<p class="text-center">
			Page couldn't be find. <Link kind="text" href="/" class="whitespace-nowrap">Return to homepage</Link>
		</p>
	</header>
</BaseLayout>
