---
import BaseLayout from "~/layouts/base-layout.astro";
---

<BaseLayout 
	favicon="404"
	title={{
		default: "404 — Page not found"
	}}>
	<header class="min-h-view flex-col center">
		<h1>404</h1>
		<p>
			Page couldn't be find. <a href="/">Return to homepage</a>.
		</p>
	</header>
</BaseLayout>
