---
import HMFLayout from "~/layouts/hmf-layout.astro";

import { FAQAccordion } from "~/components/faq/faq";
---

<HMFLayout
	title={{
		default: "Pavel Sušický — Frequently asked questions"
	}}
	classNames={{
		main: "md:mb-[-5rem]"
	}}>
	<section class="mx-auto max-w-content p-lg lg:px-2xl">
		<h2 class="mb-lg">Background</h2>
		<FAQAccordion category="background" client:idle />
	</section>

	<section class="mx-auto max-w-content p-lg lg:px-2xl">
		<h2 class="mb-lg">Hardware & Software</h2>
		<FAQAccordion category="hardware-software" client:idle />
	</section>

	<section class="mx-auto max-w-content p-lg lg:px-2xl">
		<h2 class="mb-lg">Technologies</h2>
		<FAQAccordion category="technologies" client:idle />
	</section>
</HMFLayout>
