---
import { version } from "~/root/package.json";

import SEO, { type Props as SEOProps } from "./common/seo.astro";
import SEOImage, { type Props as SEOImageProps } from "./common/seo-image.astro";
import FavouriteIcon, { type Props as FavouriteIconProps } from "./common/favicon.astro";

import CommonHead from "./common/common-head.astro";
import FeatureDetection from "./common/feature-detection.astro";

const BUILD_FINGERPRINT = `<!-- v${version} : ${process.env.VERCEL_ENV} - ${new Date().toUTCString()} -->`;

import "~/styles/global.scss";
import PreloadFont from "./common/preload-font.astro";

export interface Props extends FavouriteIconProps, SEOProps {
	image?: SEOImageProps;
}

const { 
	favicon = "favicon",
	image,
	...seoProps
} = Astro.props;
---

<html lang="en" dir="ltr">
	<head>
		<Fragment set:html={BUILD_FINGERPRINT} />
		<PreloadFont path="/fonts/space-grotesk/variable.woff2" />
		<PreloadFont path="/fonts/unbounded/variable.woff2" />
		<slot name="head" />
		<FavouriteIcon favicon={favicon} />
		<CommonHead />
		<SEO {...seoProps} />
		<SEOImage {...image} />
		<FeatureDetection />
	</head>
	<body>
		<a class="offscreen" href="#main">Skip to content</a>
		<main id="main">
			<slot />
		</main>
	</body>
</html>
