---
import { version } from "~/root/package.json";

import SEO, { type Props as SEOProps } from "./common/seo.astro";
import CommonHead from "./common/common-head.astro";
import FavouriteIcon, { type Props as FavouriteIconProps } from "./common/favicon.astro";

const BUILD_FINGERPRINT = `<!-- v${version} : ${process.env.VERCEL_ENV} - ${new Date().toUTCString()} -->`;

import "~/styles/global.scss";

export type Props = FavouriteIconProps & SEOProps;

const { 
	favicon = "favicon",
	...seoProps
} = Astro.props;
---

<html lang="en" dir="ltr">
	<head>
		<Fragment set:html={BUILD_FINGERPRINT} />
		<slot name="head" />
		<FavouriteIcon favicon={favicon} />
		<CommonHead />
		<SEO {...seoProps} />
	</head>
	<body>
		<a href="#main">Skip to content</a>
		<main id="main">
			<slot />
		</main>
	</body>
</html>
