---
import { version } from "~/root/package.json";

import CommonHead from "./common/common-head.astro";

const BUILD_FINGERPRINT = `<!-- v${version} : ${process.env.VERCEL_ENV} - ${new Date().toUTCString()} -->`;
---

<html lang="en" dir="ltr">
	<head>
		<Fragment set:html={BUILD_FINGERPRINT} />
		<CommonHead />
	</head>
	<body>
		<slot />
	</body>
</html>
